@charset "UTF-8";

.insert_layout {
	display: inline-block;
	border: 0px solid red;
	box-sizing: border-box;
	overflow: hidden;
	vertical-align: top;
}
.insert_layout:nth-child(1){
	width: 30%;
	border: 0px solid #5cb38b;
}
.insert_layout:nth-child(2){
	width: 69%;
}
.insert_area_jm{
	margin-right: 50px;
}
.input-sm{
	width: 170px;
}
.insert_layout > div{
	margin-bottom: 15px;
}

.insert_image_jm {
	float: right;
	min-width: 0px !important;
	min-height: 0px !important;
	max-width: none !important;
	max-height: none !important;
	width: 200px;
	height: 300px;
	margin-right: 0px;
	border: 1px solid #5cb38b;
	margin: 5px;
	padding: 5px;
}
.form-group{
	overflow: hidden;
}
.form-group > label{
	width: 100px !important;
	float: left;
	padding: 0;
	text-align: right !important;
	margin-left: 50px;
}

.form-group > div{
	width: 75% !important;
	float: right;
}

.book_info_textarea{
	padding-bottom: 10px;
	border-bottom: 2px solid #e6e9ed;
}

.book_info_textarea label{
	margin-left: 100px;
	padding-top: 15px;
}
.book_info_textarea textarea{
	height: 150px;
	word-break:
}

.area_jm{
	margin-right: 7px;
}

.style_0_jm{
	margin: 0px;
}

.date_input_jm{
	width: 100% !important;
}

.category_area_jm{
	font-size: 0px;
}

.category_jm{
	display: inline-block;
	overflow: hidden;
	font-size: 14px;
	vertical-align: top;
	border-right: 0px;
}
.category_jm:last-child{
	border-right: 1px solid #ccc;
}

.writer_select_area{
	padding-left: 3px;
	margin-top: 5px;
}

.writer_select{
	float: left;
	margin-left: 0px;
	text-align: left;
}

.button_area{
	margin: 0px auto;
	width: 304px;
	margin-top: 25px;
}
.button_area > div{
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
}
.button_area > div:last-child {
	margin-left: 100px;
}

.btn_result{
	width: 100px !important;
	height: 40px !important;
	font-size: 1.17em;
}


